*
{
  box-sizing: border-box;
}
div
{
   background-color:white;
   margin:20px;
   width: 500px;
   padding:10px;
   margin-left:auto;
   margin-right:auto;
   display:block;
   line-height: 2em;
   margin-top:10px;
   margin-bottom: 10px;
   font-family:sans-serif;
   font-weight:lighter;
   font-size:14px;
   border-radius:10px;
   border: 1px solid white;
}
.msg-panel
{
    border-top: 15px solid rgba(112, 182, 115, 1.00);
}
body
{
  background-color: rgb(196, 225, 197);
  padding :20px;
}
#submit
{
  margin-left: auto;
  margin-right:auto;
  display:block;
  background-color:rgba(112, 182, 115, 1.00);
  color:white;
  font-size:medium;
  height:30px;
  width:80px;
  border-color:rgba(112, 182, 115, 1.00);
  text-decoration: none;
}
.line-color
{
    border:hidden;
    border-bottom:2px solid rgb(31, 132, 31);
    background-color:white;
    width: 350px;
}
a{
  color:white;
  text-decoration:none;
}
